* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --radius-5: 5px;
  --primary-color: #2563eb;
  --color-white: white;
  --color-black: black;
  --gradient-background: linear-gradient(135deg, #1e3a8a, #2563eb, #3b82f6);
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-25: 25px;
  --font-size-30: 30px;
  --font-size-40: 40px;
  --font-size-50: 50px;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;

  --gap-10: 10px;
  --gap-20: 20px;
  --gap-30: 30px;
  --gap-40: 40px;
  --gap-50: 50px;
}

button,
i,
svg,
li {
  cursor: pointer;
}


ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}


.main-container {
  transition: all 0.3s ease;
  position: absolute;
  left: 140px;
  width: calc(100% - 270px);
}

.main-container.sidebar-collapsed {
  left: -80px;
  width: calc(100% - 80px);
}

@media (max-width: 1300px) {
  .main-container {
    left: 240px;
    width: calc(100% - 240px);
  }

  .main-container.sidebar-collapsed {
    left: 80px;
    width: calc(100% - 80px);
  }
}

@media (max-width: 1024px) {
  .main-container {
    left: 200px;
    width: calc(100% - 200px);
  }

  .main-container.sidebar-collapsed {
    left: 70px;
    width: calc(100% - 70px);
  }
}

@media (max-width: 900px) {
  .main-container {
    left: 0;
    width: 100%;
    padding: 25px;
    border-radius: 0;
  }

  .main-container.sidebar-collapsed {
    left: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {

  .main-container,
  .main-container.sidebar-collapsed {
    left: 0;
    width: 100%;
    padding: 20px;
    top: 70px;
  }
}

@media (max-width: 480px) {

  .main-container,
  .main-container.sidebar-collapsed {
    padding: 15px;
    top: 60px;
  }
}

@media (max-width: 350px) {

  .main-container,
  .main-container.sidebar-collapsed {
    padding: 10px;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 97vh;
  margin: 0;
}

@media (min-width: 1200px) {
  .page-content {
    margin-left: 280px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .page-content {
    margin-left: 250px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .page-content {
    margin-left: 220px;
  }
}

@media (max-width: 767px) {
  .page-content {
    margin-left: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}