* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none
}

/* ? oogle font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ? library  */

p,
button,
li,
h1,
h2,
h3,
h4,
span,
b {
  font-family: "Poppins", sans-serif;
  /* font-weight: 500; */
}


/* ? root */

:root {
  /* ? border radius */
  --radius-5: border-radius: 5px;
  --border-1: border: 1px solid black;
  /* ? colors */
  --primary-color: #2563eb;
  --color-white: white;
  --color-black: black;
  --gradient-background: linear-gradient(135deg, #1e3a8a, #2563eb, #3b82f6);
  /* ? fonts */
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-25: 25px;
  --font-size-30: 30px;
  --font-size-40: 40px;
  --font-size-50: 50px;
  /* ? font weight */
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  /* ? gap */
  --gap-10: 10px;
  --gap-20: 20px;
  --gap-30: 30px;
  --gap-40: 40px;
  --gap-50: 50px;
}


/* ^ cursor pointer */

button,
i,
svg,
li {
  cursor: pointer;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

/* ? max-width */
.max-width {
  max-width: 1300px;
  margin: auto;

}

/* ? display */

.display-flex {
  display: flex;
  align-items: center;
  justify-content: center
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}


